.tw-followCard {
    display: flex;
    align-items: left;
    color: #d3b9b9;
    font-size: 0.875rem;
}

.tw-followCard-header {
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-followCard-info {
    display: flex;
    flex-direction: column;
}

.tw-followCard-userName {
    opacity: 0.6;
}

.tw-followCard-avatar {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.tw-followCard-button {
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    cursor: pointer;
    padding: 6px 16px;
    font-weight: bold;
}

.tw-followCard-button.is-following {
    border: 1px solid #414141;   
    background: rgb(0, 0, 0);
    color: white;
}

.tw-followCard-button.is-following:hover {
    background-color: rgb(49, 9, 9);
    transition: all 0.15s ease-in-out;
}

.tw-followCard-button:hover {
    background-color: rgb(90, 116, 139);
    transition: all 0.15s ease-in-out;
}

.App {
    text-align: center;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
}
